<!DOCTYPE html>
<html>
  <head>
    <title>Room</title>
    <script type="text/javascript">
      const apiKey = "<%=apiKey %>";
      const sessionId = "<%=sessionId %>";
      const token = "<%=token %>";
      const roomId = "<%=roomId %>";
      const pinCode = "<%=pinCode %>";
      const conferenceNumber = "<%=conferenceNumber %>";
      const localtunelUrl = "<%=localtunelUrl %>";
      let connectionId;
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />

    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
  </head>
  <body>
    <div class="container-fluid mt-3">
      <div class="row">
        <div class="col-12">
          <div class="alert alert-secondary">
            In this demo, we dial out from the video session to voice api
            automatically - in real life, this should be done automatically when
            a user joins the video session. The dial out from video server to
            voice api will connect the video call composed audio of all people
            in the video call to the voice api.
            <br /><br />
            After the dial out has been done, you can start dialing the
            conference number from a phone and should be joined into the video
            call as audio participant.
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-6">
              <h3>Dial-In Demo</h3>
              <span>
                <b>Dial-In Number: </b>
                <a href="tel:+<%=conferenceNumber %>"
                  >+<%=conferenceNumber %></a
                >
              </span>
              <p><b>Pin Code: </b><%=pinCode %></p>
              <div id="dialinHelp" class="form-text">
                Please dial this number and enter the pin code, followed by a #.
              </div>
            </div>
            <div class="col-6">
              <h3>Dial-Out Demo</h3>
              <form
                class="row g-1"
                id="dialoutform"
                method="post"
                onsubmit="handleSubmitForm(event)"
              >
                <label for="dialoutview" class="form-label"
                  ><b>Dial a Number</b></label
                >
                <div
                  id="dialoutview"
                  class="col"
                  aria-describedby="dialoutHelp"
                >
                  <div class="row">
                    <div class="col-9">
                      <input
                        id="dialoutNumber"
                        class="form-control"
                        type="text"
                        value="4915140046124"
                      />
                    </div>
                    <div class="col-3">
                      <button
                        type="submit"
                        class="btn btn-primary"
                        onclick="handleSubmitButton(event)"
                      >
                        Call
                      </button>
                    </div>
                  </div>
                </div>
                <div id="dialoutHelp" class="form-text">
                  You can also dial out to a phone number.
                </div>
              </form>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-6">
              <div id="publisherview">
                <div id="publisher"></div>
              </div>
            </div>
            <div class="col-6">
              <div id="subscriberview">
                <div id="subscribers"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <p>Video Call Length: <span id="videoSipLength"></span></p>
              <p>Video Call Price: <span id="videoSipCost"></span></p>
              <p>Nexmo Call Length: <span id="nexmoSipLength"></span></p>
              <p>Nexmo Call Price: <span id="nexmoSipCost"></span></p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <h2>Call Events</h2>
          <div id="callEvents">
            <div class="card">
              <div class="card-header">Video Session joined</div>
              <div class="card-body">Session ID: <%=sessionId %></div>
              <div class="card-footer text-muted">
                <small><%= new Date().toUTCString() %></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/opentok.js"></script>
    <script>
      function handleSubmitForm(e) {
        e.preventDefault();
      }
      async function handleSubmitButton(e) {
        e.preventDefault();
        const dialoutNumber = document.getElementById("dialoutNumber").value;
        console.log(dialoutNumber);
        const response = await fetch("<%=localtunelUrl %>/dialout", {
          method: "POST",
          body: JSON.stringify({ dialoutNumber, sessionId }),
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((res, err) => {
            if (err) {
              console.error("Could not fetch. ", err);
              return undefined;
            } else {
              console.log("fetch result ", res);
              return res.json();
            }
          })
          .catch((e) => {
            console.error("Fetch error: ", e);
            return undefined;
          });
        console.log("response json: ", response);
        if (response.id) {
          document.getElementById("callType").innerHTML = "dial out";
          setSipVideoOutHtml(response);
        }
      }
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
